.vscode/
.ipynb_checkpoints/

*.pyc 
*.pyo

__pycache__/

*fair*.json
*.txt
*.log

build/
dist/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log


# Installer logs
pip-log.txt
pip-delete-this-directory.txt